[Unit]
Description=JBug Brasil Telegram bot service
After=network.target

[Service]
User=spolti
Restart=always
Type=simple
TimeoutStartSec=120
PIDFile=/opt/bot/jbug-brasil.pid
EnvironmentFile=-/opt/bot/jbug-brasil.conf
WorkingDirectory=/opt/bot
ExecStart=/opt/bot/jbug-brasil.sh start
ExecStop=/opt/bot/jbug-brasil.sh stop
ExecReload=/opt/bot/jbug-brasil.sh restart

[Install]
WantedBy=multi-user.target